# MongoDB (Compass: mongodb://localhost:27017)
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=mebellar

# Admin panel
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Do'kon API (chat sinxron)
SHOP_API_URL=http://localhost:3001
