# Mebellar — MongoDB local (FTDC o'chirilgan, xotira muammosini oldini olish)

storage:
  dbPath: C:\Users\HP\Desktop\MMebellar\data\mongodb

systemLog:
  destination: file
  logAppend: true
  path: C:\Users\HP\Desktop\MMebellar\data\mongod.log

net:
  port: 27017
  bindIp: 127.0.0.1

setParameter:
  diagnosticDataCollectionEnabled: false
