# Express backend (mebellar-api)
NEXT_PUBLIC_API_URL=http://localhost:4000

# MongoDB (auth + ma'lumotlar)
MONGODB_URI=mongodb://127.0.0.1:27017/m-mebellar
MONGODB_DB_NAME=m-mebellar

# NextAuth
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=mebellar-dev-secret-ozgartiring

# Do'kon
NEXT_PUBLIC_APP_URL=http://localhost:3001

# Admin panel
NEXT_PUBLIC_ADMIN_URL=http://localhost:3000
